
.update-img{
    width: 200px;
}

.movie-article:nth-child(3n+5){
    clear: both;
}

.not-seen-movie{
    background-color: orange;
    padding-top: 3px;
    text-align: center;
}

.seen-movie{
    background-color: forestgreen;
}

#searchMovies{
    width: 100%;
    margin-bottom: 30px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid rgb(220, 220, 220);
}

.confirmBtns{
    margin-top: 20px;
}

tr>th:hover {
    cursor: pointer;
}
#removeReview{
    float: right;
}