
.update-img{
    width: 200px;
}

.movie-article:nth-child(3n+5){
    clear: both;
}

.not-seen-movie{
    background-color: #f8c668;
    padding-top: 3px;
    text-align: center;
    color: white;
        
}

.seen-movie{
    background-color: #62c762;
}

#searchMovies{
    width: 100%;
    margin-bottom: 30px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid rgb(220, 220, 220);
}

.confirmBtns{
    margin-top: 20px;
}

tr>th:hover {
    cursor: pointer;
}
.removeReviewBtn{
    float: right;
    opacity: 0.8;
}

.removeReviewBtn:hover {
    cursor: pointer;
    opacity: 1;
}