
.update-img{
    width: 300px;
}

.not-seen-movie{
    background-color: orange;
    padding-top: 3px;
    text-align: center;
}

.seen-movie{
    background-color: forestgreen;
}

#searchMovies{
    margin-bottom: 30px;
}