<section>
    <!--TODO: VIEW: legg til form-->

    <form ng-submit="addMovie(newMovie)" ng-init="console.log(this)">
        <div class="form-group">
            <label for="insertTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="newMovie.title">
        </div>
        <div class="form-group">
            <label for="insertImg">Last opp bilde</label>
            <input type="file" id="inputImg" onchange="angular.element(this).scope().setImageToUpload(this.files)" />
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="newMovie.seen"> Har sett filmen før
            </label>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</section>
