<section>
    <!--TODO: VIEW: legg til form-->

    <new-movie-response ng-show="movie"></new-movie-response>

    <form ng-hide="movie" ng-submit="addMovie(newMovie)" >

        <div class="form-group">
            <label for="insertTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="newMovie.title" required>
        </div>
        <div class="form-group">
            <label for="insertImg">Upload image</label>
            <input type="file" id="inputImg" onchange="angular.element(this).scope().setImageToUpload(this.files)" required/>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="newMovie.seen"> Has seen the movie before
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</section>
