<section>
    Search: <input id="searchMovies" type="text" name="name" placeholder="Search for..." ng-model="search.movie.title"/>
    <table class="table table-striped">
        <thead>
            <tr ng-init="order = 'movie.title'; tab = 2">
                <th ng-class="{active : tab == 1}" ng-click="order = 'movie.id'; tab = 1">Id</th>
                <th ng-class="{active : tab == 2}" ng-click="order = 'movie.title'; tab = 2">Title</th>
                <th ng-class="{active : tab == 3}" ng-click="order = 'movie.imageSrc'; tab = 3">Image</th>
                <th ng-class="{active : tab == 4}" ng-click="order = '-movie.seen'; ; tab = 4">Seen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="m in movieList | filter:search | orderBy:order" ng-href="/#/reviewMovie/{{m.movie.id}}">
            <td>{{m.movie.id}}</td>
            <td>{{m.movie.title}}</td>
            <td>{{m.movie.imageSrc}}</td>
            <td>{{m.movie.seen}}</td>
            <td><div class="pull-right">
                    <a class="btn btn-danger" ng-href="/#/deleteMovie/{{m.movie.id}}">Delete</a>
                    <a class="btn btn-primary" ng-href="/#/updateMovie/{{m.movie.id}}">Update</a>
                    <a class="btn btn-info" ng-href="/#/reviewMovie/{{m.movie.id}}">Review</a>
                </div></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" ng-href="/#/createNewMovie">Add Movie</a>
    <h3 ng-hide="movieList[0]">There are no movies in the database.</h3>
    
</section>
