<section>
    <!--TODO: VIEW: legg til table med ng-repeat-->
    <h1>manageMovie</h1>
    Søk: <input type="text" name="name" value="" ng-model="search.movie.title"/>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>Seen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="m in movieList | filter:search" ng-href="/#/reviewMovie/{{m.movie.id}}">
                <td>{{m.movie.id}}</td>
                <td>{{m.movie.title}}</td>
                <td>{{m.movie.imageSrc}}</td>
                <td>{{m.movie.seen}}</td>
                <td><button class="btn btn-primary" ng-click="deleteMovie(m.movie.id)">Delete</button>
                    <button class="btn btn-primary">Review</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="addMovie()">Add Movie</button>
    <h3 ng-hide="movieList[0]">There are no movies in the database.</h3>
    
</section>
